* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    
}
.dsh{
	/* background: #F6F3EE; */
}
.icon-bar{
	background: #547794;
}
.search{
	text-decoration: none;
	background: none;
	border: 1px solid;
	border-radius: 15px;
	padding: 5px;
}
.btt{
	margin-right: 2%;
}
.all{
	padding: 20px;
	/* background: #E0E0E0; */
}
.produit{
	text-align: center;
	background: #F6F3EE;
	padding: 40px;
}
.fav{
	font-size: 20px;
	color: grey;
}
.produit img{
	width:100px;
	height:110px;
	border-radius: 10px;
}
.produit img:hover{
	border: solid;
}
.case{
	background: #F6F3EE;
	padding: 20px;
}
.affiche{
	text-align: center;
	background: #F6F3EE;
	padding: 10px;
}
.affiche img{
	width:300px;
	height:310px;
	border-radius: 10px;
}
.affiche img:hover{
	width:302px;
	height:312px;
}
.affiche2{
	text-align: center;
	background: #F6F3EE;
	padding: 10px;
}